*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html, body{
    height: 100%;
    width: 100%;
}

.main{
    background-color: black;
    height: 90%;
    width: 90%;
    position: relative;
}

.main div{
  background-color: aqua;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 80%;
    bottom: 10%;
    position: absolute;
}


.A{

}

